html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 16px;
	font-family: 'Acme', sans-serif;
	font-size: 20px;
}

#main {
	padding: 75px 50px 0;
}

/* Font family styles */
.acme, body {
	font-family: 'Acme', sans-serif;
}

.audiowide {
	font-family: 'Audiowide', sans-serif;
}

.kelly {
	font-family: 'Kelly Slab', sans-serif;
}

/* Text colors */
.red {
	color: red;
}

a {
	color: #00B7FF;
	text-decoration: none;
}

/* Utility styles */
.w3-bar-item {
	margin-right: 12px;
}

.w3-top, .jumbotron, .command-head:hover {
  background-color: #111;
}

.command-head {
	cursor: pointer;
}

.format {
	padding: 2px 4px;
	background-color: #333;
}
